*,
::before,
::after {
    box-sizing: border-box;
}

:root {
    --primary-color: #101010;
    --secondary-color: #FF6B00;
    --primary-bg-color: #f5f5f5;
    --secondary-bg-color: #00008b;
    --ligt-bg-color: #FFF3EA;
    --list-tree-color: #f0f0f0;
    --list-tree-color-hover: #075695;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

html {
    font-size: 12px;
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    scroll-padding-top: 370px;
}

img {
    display: block;
    max-width: 100%;
}

menu,
ol,
ul {
    padding-left: 0px;
    list-style: none;
    margin: 0px;
}

figure {
    margin-inline: 0px;
    margin-block: 0px;
}

body {
    font-weight: 400;
    color: var(--primary-color);
    font-family: Jost, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #fcfcfc;
}

h2 {
    font-size: 2rem;
    margin: 3.8rem 0px 3rem;
}

.container {
    width: 80%;
    margin: auto;
}

.portfolio {
    grid-area: portfolio;
    min-height: calc(100vh - 70px);
    padding-top: 2rem;
    padding-bottom: 3rem;
}


.portfolio h2 {
    text-align: center;
}

.info {
    grid-area: info;
}

.education {
    grid-area: education;
    width: 100%;
    height: 100%;
}

.about {
    grid-area: about;
}

.experience {
    grid-area: experience;
    width: 100%;
}

.skills {
    grid-area: skills;
    min-height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer {
    grid-area: footer;
    text-align: center;
}

header {
    height: auto;
    min-height: 100svh;
    background: rgb(255 255 255);
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px;
    margin-top: 0px;
    transition: top 500ms ease-in-out 0s;
    position: relative;
    top: 0px;
    z-index: 9999;
}

.main-nav .main-menu {
    list-style-type: none;
    border-radius: 4px;
}

.main-menu {
    display: flex;
    position: fixed;
    top: 0px;
    text-align: right;
    flex-direction: column;
    right: -37svh;
    width: 37svh;
    background-color: rgb(40, 103, 178);
    z-index: 100;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 10px 0px;
    padding-block: 4rem;
    bottom: 0px;
    color: white;
    justify-content: center;
    transition: right 0.5s ease-in-out 0s;
}

.main-nav li {
    display: inline-block;
}

.logo img {
    width: 70px;
    max-width: 100%;
}

.main-nav a {
    text-decoration: none;
    display: block;
    color: rgb(255, 255, 255);
    padding: 7px 21px;
    transition: all 300ms ease 0s;
    border-radius: 4px;
    font-size: 0.9rem;
}

a.logo {
    padding: 0.2rem 14px;
    box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 10px;
    background: rgb(7, 86, 149);
}

.main-nav a:hover,
.active {
    background-color: var(--secondary-color);
    color: rgb(255, 255, 255);
    transition: background-color 300ms ease 0s;
}

.main-nav a.logo:hover {
    background: rgb(255, 243, 234);
}

.main-nav .nav-btn {
    background-color: rgb(7, 86, 149);
    color: var(--primary-bg-color);
    border: 1px solid rgb(7, 86, 149);
    cursor: pointer;
    transition: all 300ms ease 0s;
    padding: 0.4rem 1.3rem;
    border-radius: 4px;
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: capitalize;
}

.main-nav .nav-btn:hover {
    background-color: rgb(44, 18, 0);
    color: rgb(247, 247, 247);
    border-color: rgb(44, 18, 0);
}

.main-nav .hide-when-small {
    display: none;
}

.main-menu.show-menu {
    display: flex;
    position: fixed;
    top: 0px;
    text-align: right;
    flex-direction: column;
    right: 0px;
    width: 37svh;
    background-color: rgb(40, 103, 178);
    z-index: 100;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 10px 0px;
    padding-block: 4rem;
    bottom: 0px;
    color: white;
    justify-content: start;
    padding-top: 6rem;
}

.main-menu.show-menu a {
    width: 100%;
    margin-top: 0px;
    padding-right: 4rem;
    color: white;
    font-size: 1.3rem;
    padding-block: 1rem;
}

.main-menu.show-menu li:first-child a {
    margin-top: 0px;
}

button#menu-close-btn {
    position: absolute;
    top: 16px;
    left: 16px;
    z-index: 101;
    padding: 10px 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3rem;
}

.main-nav.sticky {
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin-top: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    left: 0px;
    z-index: 1010;
    padding-block: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 1px 4px 12px 0px;
    padding-inline: 10%;
    transition: top 0.5s ease-in-out 0s;
}

.hero {
    background-color: #ededed;
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 100px);
    align-items: center;
    padding-bottom: 2rem;
}

.hero-flex {
    display: flex;
    row-gap: 4rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-left {
    flex: 8 1 0%;
    order: 2;
}

.hero-right {
    order: 1;
}

.hero-img-container {
    background-image: url("/images/homeNannerShape.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 34% 30px;
    animation: 3s ease 0s infinite normal none running moveIn;
}

.hero-left h1 {
    font-size: 2.2rem;
    color: var(--secondary-color);
    margin: 0px 0px 1rem;
    line-height: 3rem;
}

.hero-left p {
    font-size: 1.1rem;
    line-height: 2.2rem;
    margin: 0px;
    padding-right: 0px;
    text-align: justify;
    color: rgb(51, 51, 51);
    margin-bottom: 1.3rem;
}

.hero-right img {
    margin-left: auto;
}

.hero-left h2 {
    font-size: 1.5rem;
    font-weight: normal;
    padding: 0px;
    margin: 0px 0px 1.6rem;
    font-family: Roboto, sans-serif;
    color: rgb(67, 67, 67);
    line-height: 3rem;
}

.hero-left p:first-child {
    font-size: 1.1rem;
    font-family: Roboto;
    margin-bottom: 10px;
    padding: 0px;
}

.hero-left h3 {
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 40px;
}

.social-links ul {
    padding-top: 0px;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.social-links li {
    display: block;
}

.social-links li a {
    text-decoration: none;
    background-color: var(--secondary-color);
    color: var(--primary-bg-color);
    font-size: 16px;
}

.social-links li a img {
    width: 36px;
}

.social-links h3 {
    margin-top: 2.5rem;
    margin-bottom: 0.8rem;
}

.social-links {
    text-align: center;
}

.gallery {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    flex-wrap: wrap;
}

.gallery-item {
    flex: 0 0 100%;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: none;
}

.overlay-parent {
    height: 100%;
    width: 100%;
    background: rgba(255, 243, 234, 0.89);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 0px 15px;
    opacity: 0;
    transition: all 500ms ease 0s;
}

.overlay h2 {
    margin-top: 0px;
    font-size: 25px;
}

.overlay p {
    font-size: 18px;
}

.overlay a {
    text-decoration: none;
    color: white;
    background: rgb(255, 107, 0);
    padding: 10px 15px;
    margin-top: 40px;
}

.gallery-item:hover .overlay {
    display: block;
}

.gallery-item:hover .overlay:hover .overlay-parent {
    opacity: 1;
}

.edu-exp {
    min-height: 100svh;
}

.education h3 {
    font-size: 1.2rem;
    margin: 0px;
}

.education ul {
    padding-left: 31px;
    border-left: 5px solid var(--list-tree-color);
    position: relative;
}

.education li {
    padding: 1.5rem;
    background-color: #ecf7ff;
    margin-bottom: 45px;
    transition: all 300ms ease 0s;
    color: rgb(55, 55, 55);
    box-shadow: rgba(0, 0, 0, 0.12) 1px 1px 2px 0px;
}

.education li:hover,
.card:hover {
    background-color: var(--list-tree-color-hover);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.12) 1px 1px 2px 0px;
    transition: all 300ms ease 0s;
}

.education li:hover .styling-list::before,
.card:hover .styling-list::before {
    background-color: var(--list-tree-color-hover);
}

.education p {
    font-size: 1rem;
    margin: 1rem 0px 0px;
}

.education li {
    position: relative;
}

.styling-list::before {
    content: "";
    width: 31px;
    height: 5px;
    background: var(--list-tree-color);
    display: block;
    position: absolute;
    top: 61px;
    left: -31px;
}

.styling-list::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    border: 5px solid var(--list-tree-color);
    border-radius: 100%;
    top: 53px;
    left: -44px;
    background: rgb(255, 255, 255);
    transition: all 100ms ease 0s;
}

li:hover .styling-list::after,
.card:hover .styling-list::after {
    background-color: var(--list-tree-color-hover);
}

.experience h3 {
    font-size: 24px;
    margin: 0px;
}

.exp-list {
    border-left: 5px solid var(--list-tree-color);
    padding-left: 31px;
    color: rgb(0 0 0);
}

.card {
    background: #ecf7ff;
    padding: 2rem;
    margin-bottom: 2rem;
    position: relative;
    transition: all 300ms ease 0s;
    box-shadow: rgba(0, 0, 0, 0.12) 1px 1px 2px 0px;
}

.experience ul {
    margin: 20px 0px 0px 20px;
}

.experience li {
    font-size: 16px;
    margin-bottom: 0.6rem;
    list-style-type: disc;
    list-style-position: outside;
}

.experience li::marker {
    color: white;
}

.experience li::marker {
    color: var(--secondary-color);
}

.experience p {
    font-size: 16px;
    margin: 15px 0px 0px;
}

.skills ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.3rem;
    justify-content: center;
    place-items: center;
    background: rgb(239, 239, 239);
    padding: 1.3rem;
}

.skills li {
    background: rgb(250, 250, 250);
    padding: 25px;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 9px 9px 15px 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.skills img {}

.skills h2 {
    margin: 3.8rem 0px 3rem;
    text-align: center;
    text-transform: capitalize;
}

.skills li {
    position: relative;
    overflow: hidden;
}

.skills li::before {
    position: absolute;
    top: 0px;
    left: -75%;
    z-index: 2;
    display: block;
    content: "";
    width: 40%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.14) 0%, rgba(170, 170, 170, 0.12) 100%);
    transform: skewX(-25deg);
}

.skills li:hover::before {
    animation: 0.4s ease 0s 1 normal none running shine;
}

.contact-me {
    grid-area: contact-me;
    height: auto;
    min-height: calc(-200px + 100vh);
}

.contact-me h2 {
    text-align: center;
    margin: 9rem 0px 0px;
}

.contact-me-box {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 4rem;
    padding: 2rem 0px;
    flex-flow: column wrap;
}

.contact-me-box h4 {
    font-style: normal;
    margin-top: 0px;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 2.5rem;
}

.contact-me-box-address {
    flex: 1 1 0%;
}

.d-flex {
    display: flex;
}

.justify-content-space-arround {
    justify-content: space-around;
}

.align-items-center {
    align-items: center;
}

.contact-with-icons {
    column-gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 32px;
    flex-wrap: wrap;
}

.contact-with-icons img {
    max-width: 2rem;
}

.icon-bg-orange {
    background-color: var(--ligt-bg-color);
    padding: 10px;
    border-radius: 15%;
}

.contact-with-icons h3,
.contact-with-icons p {
    margin: 0px;
    font-style: normal;
}

.contact-with-icons h3 {
    margin-bottom: 0px;
    font-size: 1.2rem;
}

.contact-with-icons p {
    font-size: 1.3rem;
}

.contact-me-box-form {
    width: 100%;
    flex: 1 1 0%;
}

.form-group {
    margin-bottom: 20px;
    width: 100%;
}

.contact-me-box-form input,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgba(255, 107, 0, 0.5);
    border-radius: 6px;
    line-height: 1.7;
    font-size: 16px;
    color: rgb(33, 37, 41);
}

.contact-me-box-form .btn {
    color: rgb(255, 255, 255);
    padding: 0.6rem 2rem;
    background-color: #075695;
    border-radius: 4px;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: capitalize;
    border: 1px solid transparent;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    float: right;
}

.contact-me-box-form .btn:hover {
    background-color: rgb(185, 78, 2);
    color: rgb(255, 255, 255);
}

.footer {
    background-color: rgb(16, 16, 16);
    color: rgb(239, 239, 239);
    font-size: 16px;
    padding: 15px;
}

.footer p {}


/* animations */
@keyframes shine {
    100% {
        left: 125%;
    }
}

@keyframes moveIn {
    50% {
        background-position: right bottom;
    }
}

@keyframes cursorBlink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.cursor {
    animation: cursorBlink 400ms infinite;
    font-size: 2.5rem;
}

/* End Animation */

/* Media Queries */
@media only screen and (min-width: 375px) {
    html {
        font-size: 14px;
    }

    .contact-with-icons {
        column-gap: 1.3rem;
    }

    .skills ul {
        gap: 2rem;
        padding: 2rem;
    }

    a.logo {
        padding: 0.25rem 14px;
    }
}

@media only screen and (min-width: 510px) {
    .hero-img-container {
        width: 50%;
        margin: auto;
    }
}

@media only screen and (min-width: 768px) {
    html {
        font-size: 16px;
    }

    .gallery {
        gap: 1rem;
    }

    article.gallery-item {
        flex: 0 0 48.5%;
    }

    .skills ul {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .contact-with-icons {
        column-gap: 1.5rem;
    }

    .hero-img-container {
        width: 64%;
        margin: auto;
    }

    .hero-left h1 {
        font-size: 2.5rem;
    }

    .hero-left h2 {
        font-size: 1.8rem;
    }

    /* .hero-left p {
        font-size: 1.4rem;
    } */

    .education li,
    .card {
        padding: 2rem 3rem;
    }

    .hero-left p:first-child {
        font-size: 1.4rem;
    }

    .skills li {
        padding: 15px;
    }

    a.logo {
        padding: 0.4rem 14px;
    }
}

@media only screen and (min-width: 992px) {
    html {
        font-size: 16px;
    }

    .container.hero-flex {
        flex-direction: row;
        min-height: calc(-200px + 100svh);
        gap: 6rem;
    }

    .hero-right {
        flex: 4 1 0%;
    }

    .hero-left {
        flex: 11 1 0%;
        /* padding: 0px 0px 5rem 5rem; */
        padding: 0;
    }

    .edu-exp {
        display: flex;
        justify-content: space-between;
        gap: 4rem;
    }

    .skills ul {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .contact-me-box {
        flex-direction: row;
    }

    .logo img {
        width: 100px;
    }

    .hero-img-container {
        width: 100%;
    }

    a.logo {
        padding: 0.2rem 14px;
    }
}

@media only screen and (min-width: 1200px) {
    .main-nav .hide-when-large {
        display: none;
    }

    .main-nav .hide-when-small {
        display: block;
    }

    .gallery {
        gap: 1.5rem;
    }

    article.gallery-item {
        flex: 1 1 0%;
    }

    .skills ul {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .contact-me-box {
        gap: 1rem;
    }

    .main-menu {
        display: flex;
        position: static;
        text-align: center;
        flex-direction: row;
        width: auto;
        background-color: rgb(7, 86, 149);
        padding-block: inherit;
        justify-content: center;
        transition: inherit;
        box-shadow: rgb(191, 191, 191) 6px 9px 20px 0px;
        padding: 0px 8px;
        color: white;
    }

    .main-nav li {
        padding: 8px 0px;
        border-right: 1px solid rgb(75, 75, 75);
    }

    .main-nav .main-menu li:nth-last-child(3) {
        border: none;
    }

    a.logo {
        padding: 5px 14px;
    }

    .logo img {
        width: 140px;
    }

    .contact-with-icons {
        column-gap: 2rem;
    }

    .main-nav .nav-btn {
        padding: 0.7rem 1.5rem;
    }
}